$gray: rgb(96, 96, 110);
$green: rgb(123, 238, 199);

* {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color: $gray;
}

body {
  box-sizing: border-box;
  // background-image: url(../assets/img/backgroundMain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  text-align: center;
  border-top: 2px solid $green;
  h3 {
    display: inline-block;
    margin-top: 10vw;
    width: 5em;
    background-color: $green;
    padding: 5px;
  }
  h1 {
    margin: auto;
    width: 12em;
    font-size: 22px;
    padding: 5px 5px;
    border: 6px solid $gray;
  }
  p {
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 20em;
    font-size: 14px;
  }
}

//  HISTORY BLOCK

.historyBlock {
  display: flex;
  margin-top: 3vw;
  flex-direction: column;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: center;
  text-align: justify;

  .table1 {
    max-width: 500px;

    img {
      max-width: 100%;
    }
  }

  .history {
    max-width: 500px;
    padding: 3vw 4vw;
    h4 {
      width: 12em;
      background-color: $green;
      margin: 1vw 0;
    }
    p {
      font-size: 14px;
    }
    #showOnClick {
      display: none;
    }
    // a {
    //   background-color: $green;
    //   text-decoration: none;
    //   font-size: 12px;
    //   color: white;
    //   font-weight: bold;
    //   padding: 1.5vw;
    //   float: right;
    // }
    button {
      background-color: $green;
      // text-decoration: none;
      border: none;
      font-size: 12px;
      color: white;
      font-weight: bold;
      padding: 1.5vw;
      float: right;
    }
  }
}

//     WHY CHOOSE US BLOCK

.chooseBlockHeader {
  width: 100%;
  text-align: center;
  margin-top: 10vw;

  h3 {
    width: 10em;
    background-color: $green;
    padding: 5px;
    display: inline-block;
  }
  p {
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 20em;
    font-size: 14px;
  }
}

.chooseBlockBody {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .table2 {
    margin: 3vw auto;
    max-width: 500px;

    img {
      max-width: 100%;
    }
  }

  .chooseBlockReasons {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3vw;
    padding: 10px;

    .twoBlocks1,
    .twoBlocks2 {
      padding-left: 10px;
      .options,
      .design,
      .commerce,
      .customizable {
        width: auto;
        height: 140px;
        // padding-left: 10px;

        h3 {
          font-size: 14px;
          padding-bottom: 1vw;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}

// PORTFOLIO BLOCK

.portfolioBlockHeader {
  width: 100%;
  text-align: center;
  margin-top: 5vw;

  h3 {
    width: 10em;
    background-color: $green;
    padding: 6px;
    display: inline-block;
  }
  p {
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 20em;
    font-size: 14px;
  }
}

.portfolioBlockSet {
  padding: 8px;
  .portfolioBlockMenu {
    margin: 6px auto;
    text-align: center;
    max-width: 60%;
    h3 {
      font-size: 14px;
      padding: 4px;
    }
    button {
      all: initial;
      font-size: 14px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 14px;
      padding: 2px 4px;
    }
  }
  .portfolio {
    display: flex;
    width: 100%;

    .grid {
      display: none;
    }

    .columns2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 50%;

      img {
        max-width: 90%;
      }
    }
    .columns3 {
      display: none;
      flex-direction: column;
      align-items: center;
      flex: 50%;

      img {
        max-width: 90%;
      }
    }
  }
}

// COOL BLOCK

.coolBlock {
  display: flex;
  flex-wrap: wrap;
  background-color: $green;

  .workTogether {
    width: 100%;
    h3 {
      color: white;
      padding: 15px 20px;
    }

    button {
      background-color: white;
      border: none;
      text-decoration: none;
      font-size: 12px;
      color: $green;
      font-weight: bold;
      padding: 1.5vw;
      margin-right: 20px;
      float: right;
    }
  }
  .stayInformed {
    width: 100%;
    background-color: white;
    margin: 20px;
    h3 {
      color: $gray;
      padding: 10px 20px;
    }
    p {
      color: $gray;
      padding: 0 20px;
      font-size: 12px;
    }
    form {
      justify-content: center;
      border: 1px solid lightgray;
      margin: 20px;

      .email {
        width: 60%;
        border: none;
        font-size: 12px;
        // padding: 1vw;
        margin: 10px 0 10px 10px;
      }
      .submit {
        width: 30%;
        background-color: $green;
        text-decoration: none;
        font-size: 12px;
        color: white;
        font-weight: bold;
        padding: 10px 10px 10px 10px;
        float: right;
      }
    }
  }
}

// BOTTOM MENU BLOCK

.bottomMenu {
  width: 100%;
  // height: 1%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(230, 230, 230, 1));
  border-bottom: 3px solid $green;
  text-align: center;
  position: sticky;
  bottom: 0;
  // opacity: 0.75;
  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    img {
      padding: 3% 1.5% 1.5% 1.5%;
      max-width: 10%;
      height: auto;
      opacity: 0.6;
    }
  }
}

// --------------------------576----------------------------

@media (min-width: 576px) {
  header {
    p {
      font-size: 16px;
    }
  }

  //  HISTORY BLOCK

  .historyBlock {
    .history {
      p {
        font-size: 16px;
      }
    }
  }

  //   WHY CHOOSE US BLOCK

  .chooseBlockHeader {
    p {
      font-size: 16px;
    }
  }
  .chooseBlockBody {
    .chooseBlockReasons {
      .twoBlocks1,
      .twoBlocks2 {
        .options,
        .design,
        .commerce,
        .customizable {
          h3 {
            font-size: 16px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  // OUR PORTFOLIO BLOCK
  .portfolioBlockHeader {
    p {
      font-size: 16px;
    }
  }

  .portfolioBlockSet {
    .portfolioBlockMenu {
      h3 {
        font-size: 16px;
      }
      button {
        font-size: 16px;
      }
    }
  }

  // COOL BLOCK

  .coolBlock {
    .workTogether {
      button {
        font-size: 14px;
      }
    }
    .stayInformed {
      p {
        font-size: 14px;
      }
      form {
        .email {
          font-size: 14px;
        }
        .submit {
          font-size: 14px;
        }
      }
    }
  }

  // BOTTOM MENU BLOCK

  .bottomMenu {
    height: 80px;

    a {
      img {
        padding: 15px;
        max-width: 50px;
        height: auto;
        opacity: 0.6;
      }
    }
  }
}

// -----------------------768-----------------------------------

@media (min-width: 768px) {
  body {
    box-sizing: border-box;
    background-image: url(../assets/img/backgroundMain.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 851px;
  }

  header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(5, 60px);
    // text-align: center;
    border-top: none;
    h3 {
      grid-column: 6 / 8;
      grid-row: 2 / 3;
      margin: auto auto 0 auto;
      width: 5em;
      background-color: $green;
      // padding: 5px;
    }
    h1 {
      grid-column: 4 / 10;
      grid-row: 3 / 4;
      margin: 0 auto auto auto;
      font-size: 30px;
      padding: 5px 5px;
      border: 7px solid $gray;
    }
    p {
      grid-column: 4 / 10;
      grid-row: 4 / 5;
      // margin: auto;
      padding-top: 10px;
      padding-bottom: 0;
      width: auto;
      font-size: 14px;
    }
  }

  //  HISTORY BLOCK

  .historyBlock {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(7, 50px);
    margin-top: 2vw;
    // flex-direction: column;
    // flex-wrap: wrap;
    align-items: center;
    text-align: justify;

    .table1 {
      grid-column: 1 / 7;
      grid-row: 1 / 7;
      padding-left: 4vw;
      // max-width: 500px;
      // height: 300px;
      // background-image: url(../assets/img/table1.jpg);
      // background-size: contain;
      // background-repeat: no-repeat;

      img {
        object-fit: contain;
      }
    }

    .history {
      grid-column: 7 / 13;
      grid-row: 2 / 5;
      max-width: 500px;
      padding: 3vw 4vw;
      h4 {
        width: 12em;
        background-color: $green;
        margin: 1vw 0;
      }
      p {
        font-size: 14px;
      }
      a {
        background-color: $green;
        text-decoration: none;
        font-size: 12px;
        color: white;
        font-weight: bold;
        padding: 1.5vw;
        float: right;
      }
    }
  }

  //     WHY CHOOSE US BLOCK

  .chooseBlockHeader {
    all: initial;
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(3, 50px);
    text-align: center;
    margin-top: 4vw;

    h3 {
      grid-column: 5 / 9;
      grid-row: 1 / 2;
      width: auto;
      background-color: $green;
      padding: 5px;
      margin: auto auto 0 auto;
      // display: inline-block;
    }
    p {
      grid-column: 4 / 10;
      grid-row: 2 / 3;
      margin: auto auto;
      padding-top: 10px;
      padding-bottom: 0;
      width: auto;
      font-size: 14px;
    }
  }

  .chooseBlockBody {
    all: initial;
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(9, 50px);
    // flex-direction: column;
    // flex-wrap: nowrap;

    .table2 {
      all: initial;
      grid-column: 7 / 13;
      grid-row: 1 / 9;
      padding-left: 4vw;
      padding-right: 4vw;
      // margin: 3vw auto;
      // max-width: 500px;

      img {
        all: initial;
        max-width: 100%;
        object-fit: contain;
      }
    }

    .chooseBlockReasons {
      grid-column: 1 / 7;
      grid-row: 2 / 8;
      padding-left: 4vw;
      // all: initial;
      // margin: auto;
      // display: flex;
      // flex-direction: row;
      // flex-wrap: nowrap;
      // justify-content: space-evenly;
      align-items: center;
      .twoBlocks1,
      .twoBlocks2 {
        padding-left: 10px;
        .options,
        .design,
        .commerce,
        .customizable {
          width: auto;
          height: 140px;
          // padding-left: 10px;

          h3 {
            font-size: 14px;
            padding-bottom: 1vw;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  // PORTFOLIO BLOCK

  .portfolioBlockHeader {
    all: initial;
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(3, 50px);
    text-align: center;
    margin-top: 4vw;

    h3 {
      grid-column: 5 / 9;
      grid-row: 1 / 2;
      width: auto;
      background-color: $green;
      padding: 5px;
      margin: auto auto 0 auto;
      // display: inline-block;
    }
    p {
      grid-column: 4 / 10;
      grid-row: 2 / 3;
      margin: auto auto;
      padding-top: 10px;
      padding-bottom: 0;
      width: auto;
      font-size: 14px;
    }
  }

  .portfolioBlockSet {
    all: initial;
    display: grid;
    grid-template-columns: 19% 27% 27% 27%;
    grid-template-rows: repeat(auto, 200px);
    text-align: center;
    margin-top: 4vw;
    margin-left: 2vw;
    margin-right: 2vw;

    .portfolioBlockMenu {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      // width: auto;
      padding: 5px;
      text-align: left;
      margin: 1vw 0 0 0;
      h3 {
        font-size: 14px;
        padding: 4px;
        text-align: left;
      }
      button {
        font-size: 14px;
        padding: 2px 4px;
        text-align: left;
      }
    }
    .portfolio {
      // all: initial;
      grid-area: 1 / 2 / 6 / 5;
      .grid {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px;
        img {
          object-fit: scale-down;
          margin: 0.5vw;
          display: flex;
          // justify-content: right;
          align-items: center;
          max-width: 33%;
          // height: auto;
        }
      }

      .columns2 {
        display: none;
        flex-direction: column;
        align-items: center;
        flex: 50%;
        img {
          max-width: 90%;
        }
      }
      .columns3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        // flex: 33%;
        img {
          max-width: 90%;
          margin: 0.5vw;
        }
      }
    }
  }

  // COOL BLOCK

  .coolBlock {
    display: flex;
    flex-wrap: nowrap;
    background-color: $green;

    .workTogether {
      width: 100%;
      h3 {
        color: white;
        padding: 15px 20px;
      }

      button {
        background-color: white;
        border: none;
        text-decoration: none;
        font-size: 12px;
        color: $green;
        font-weight: bold;
        padding: 1.5vw;
        margin-right: 20px;
        margin-left: 20px;
        float: left;
      }
    }
    .stayInformed {
      width: 100%;
      background-color: white;
      margin: 20px;
      h3 {
        color: $gray;
        padding: 5px 20px;
      }
      p {
        color: $gray;
        padding: 5px 20px;
        font-size: 12px;
      }
      form {
        justify-content: center;
        border: 1px solid lightgray;
        margin: 20px;

        .email {
          width: 60%;
          border: none;
          font-size: 12px;
          // padding: 1vw;
          margin: 10px 0 10px 10px;
        }
        .submit {
          width: 30%;
          background-color: $green;
          text-decoration: none;
          font-size: 12px;
          color: white;
          font-weight: bold;
          padding: 10px 10px 10px 10px;
          float: right;
        }
      }
    }
  }
}

// -----------------------992-----------------------------------

@media (min-width: 992px) {
  body {
    box-sizing: border-box;
    background-image: url(../assets/img/backgroundMain.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 851px;
  }

  header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(5, 60px);
    // text-align: center;
    border-top: none;
    h3 {
      grid-column: 6 / 8;
      grid-row: 2 / 3;
      margin: auto auto 0 auto;
      width: 5em;
      background-color: $green;
      // padding: 5px;
    }
    h1 {
      grid-column: 4 / 10;
      grid-row: 3 / 4;
      margin: 0 auto auto auto;
      font-size: 34px;
      padding: 5px 5px;
      border: 7px solid $gray;
    }
    p {
      grid-column: 4 / 10;
      grid-row: 4 / 5;
      // margin: auto;
      padding-top: 10px;
      padding-bottom: 0;
      width: auto;
      font-size: 16px;
    }
  }

  //  HISTORY BLOCK

  .historyBlock {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(7, 50px);
    margin-top: 2vw;
    // flex-direction: column;
    // flex-wrap: wrap;
    align-items: center;
    text-align: justify;

    .table1 {
      grid-column: 1 / 7;
      grid-row: 1 / 7;
      padding-left: 4vw;
      // max-width: 500px;
      // height: 300px;
      // background-image: url(../assets/img/table1.jpg);
      // background-size: contain;
      // background-repeat: no-repeat;

      img {
        object-fit: contain;
      }
    }

    .history {
      grid-column: 7 / 13;
      grid-row: 2 / 5;
      max-width: 500px;
      padding: 3vw 4vw;
      h4 {
        width: 12em;
        background-color: $green;
        margin: 1vw 0;
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
      a {
        background-color: $green;
        text-decoration: none;
        font-size: 14px;
        color: white;
        font-weight: bold;
        padding: 1.5vw;
        float: right;
      }
    }
  }

  //     WHY CHOOSE US BLOCK

  .chooseBlockHeader {
    all: initial;
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(3, 50px);
    text-align: center;
    margin-top: 4vw;

    h3 {
      grid-column: 5 / 9;
      grid-row: 1 / 2;
      width: auto;
      background-color: $green;
      padding: 5px;
      margin: auto auto 0 auto;
      font-size: 20px;

      // display: inline-block;
    }
    p {
      grid-column: 4 / 10;
      grid-row: 2 / 3;
      margin: auto auto;
      padding-top: 10px;
      padding-bottom: 0;
      width: auto;
      font-size: 16px;
    }
  }

  .chooseBlockBody {
    all: initial;
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(9, 50px);
    // flex-direction: column;
    // flex-wrap: nowrap;

    .table2 {
      all: initial;
      grid-column: 7 / 13;
      grid-row: 1 / 9;
      padding-left: 4vw;
      padding-right: 4vw;
      // margin: 3vw auto;
      // max-width: 500px;

      img {
        all: initial;
        max-width: 100%;
        object-fit: contain;
      }
    }

    .chooseBlockReasons {
      grid-column: 1 / 7;
      grid-row: 2 / 8;
      padding-left: 4vw;
      // all: initial;
      // margin: auto;
      // display: flex;
      // flex-direction: row;
      // flex-wrap: nowrap;
      // justify-content: space-evenly;
      align-items: center;
      .twoBlocks1,
      .twoBlocks2 {
        padding-left: 10px;
        .options,
        .design,
        .commerce,
        .customizable {
          width: auto;
          height: 140px;
          // padding-left: 10px;

          h3 {
            font-size: 16px;
            padding-bottom: 1vw;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  // PORTFOLIO BLOCK

  .portfolioBlockHeader {
    all: initial;
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(3, 50px);
    text-align: center;
    margin-top: 4vw;

    h3 {
      grid-column: 5 / 9;
      grid-row: 1 / 2;
      width: auto;
      background-color: $green;
      padding: 5px;
      margin: auto auto 0 auto;
      font-size: 20px;
      // display: inline-block;
    }
    p {
      grid-column: 4 / 10;
      grid-row: 2 / 3;
      margin: auto auto;
      padding-top: 10px;
      padding-bottom: 0;
      width: auto;
      font-size: 16px;
    }
  }

  .portfolioBlockSet {
    all: initial;
    display: grid;
    grid-template-columns: 19% 27% 27% 27%;
    grid-template-rows: repeat(auto, 200px);
    text-align: center;
    margin-top: 4vw;
    margin-left: 2vw;
    margin-right: 2vw;

    .portfolioBlockMenu {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      // width: auto;
      padding: 5px;
      text-align: left;
      margin: 1vw 0 0 0;
      h3 {
        font-size: 16px;
        padding: 4px;
        text-align: left;
      }
      button {
        font-size: 14px;
        padding: 2px 4px;
        text-align: left;
      }
    }
    .portfolio {
      // all: initial;
      grid-area: 1 / 2 / 6 / 5;
      .grid {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px;
        img {
          object-fit: scale-down;
          margin: 0.5vw;
          display: flex;
          // justify-content: right;
          align-items: center;
          max-width: 33%;
          // height: auto;
        }
      }

      .columns2 {
        display: none;
        flex-direction: column;
        align-items: center;
        flex: 50%;
        img {
          max-width: 90%;
        }
      }
      .columns3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        // flex: 33%;
        img {
          max-width: 90%;
          margin: 0.5vw;
        }
      }
    }
  }

  // COOL BLOCK

  .coolBlock {
    display: flex;
    flex-wrap: nowrap;
    background-color: $green;

    .workTogether {
      width: 100%;
      h3 {
        color: white;
        padding: 15px 20px;
        font-size: 18px;
      }

      button {
        background-color: white;
        border: none;
        text-decoration: none;
        font-size: 14px;
        color: $green;
        font-weight: bold;
        padding: 1.5vw;
        margin-right: 20px;
        margin-left: 20px;
        float: left;
      }
    }
    .stayInformed {
      width: 100%;
      background-color: white;
      margin: 20px;

      h3 {
        color: $gray;
        padding: 5px 20px;
        font-size: 18px;
      }
      p {
        color: $gray;
        padding: 5px 20px;
        font-size: 16px;
      }
      form {
        justify-content: center;
        border: 1px solid lightgray;
        margin: 20px;

        .email {
          width: 60%;
          border: none;
          font-size: 14px;
          // padding: 1vw;
          margin: 10px 0 10px 10px;
        }
        .submit {
          width: 30%;
          background-color: $green;
          text-decoration: none;
          font-size: 16px;
          color: white;
          font-weight: bold;
          padding: 10px 10px 10px 10px;
          float: right;
        }
      }
    }
  }

  // BOTTOM MENU BLOCK

  .bottomMenu {
    width: 100%;
    // height: 1%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(230, 230, 230, 1));
    border-bottom: 3px solid $green;
    text-align: center;
    // position: sticky;
    // bottom: 0;
    // opacity: 0.75;
    a {
      display: none;
      img {
        display: none;
      }
    }
  }
}
